main{
    height: 100vh;
    text-align: center;
    align-content: center;
}

#grid-container {
    display: grid;
    margin: auto;
    width: 90%;
    height: 80%;
    border: 1px solid black;
    
}

.grid-cell{
    display: flex;
    border: 1px solid black;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    background-color: lightblue;

}

#top-bar{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}
#submit-button{
    margin-top: 20px;
}